{{#if loggedInUsername}}
	You are logged in as: {{loggedInUsername}}.
{{/if}}

<h1>135is Registry</h1>
<h2>A registry to keep track of the rare 2013 BMW 135is</h3>
<p>Are you a 135is owner? Please sign up to claim your vehicle</p>
