Show entered VIN


<form action="/registerStep2" method="POST">
Your VIN: {{foundVIN}}
Your No.: {{foundBuildNo}}
Enter your username:
<input type="text" name="username">
<input type="hidden" name="foundVIN" value="{{foundVIN}}">
<button type="submit">Claim Your Car!</button>
</form>
