<div class="header">
  <h1>How Rare is My Car?</h1>
</div>

<div class="content">

  <div id="colorChart">
    <h2><center>
      Exterior Color Stats
    </h2></center>
  <svg></svg>
  </div>

  <div id="intColorChart">
    <h2><center>
      Interior Color Stats
    </h2></center>
  <svg></svg>
  </div>


  <div id="intExtComboChart">
    <h2><center>
      Interior/Exterior Color Combo Stats
    </h2></center>
  <svg></svg>
  </div>


  <div id="transChart">
    <h2><center>
      Transmission Stats
    </h2></center>
  <svg></svg>
  </div>


</div>
