<div class="content">
<div id="colorChart">
  <h1><center>
    Exterior Color Stats
  </h1></center>
<svg></svg>
</div>
<div id="intColorChart">
  <h1><center>
    Interior Color Stats
  </h1></center>
<svg></svg>
</div>
<div id="intExtComboChart">
  <h1><center>
    Interior/Exterior Color Combo Stats
  </h1></center>
<svg></svg>
</div>
<div id="transChart">
  <h1><center>
    Transmission Stats
  </h1></center>
<svg></svg>
</div>
</div>
